*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    list-style: none;
    text-decoration: none;
}

i {
    color: black;
}

body {
    background-color: rgb(230, 234, 237);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 0 0;
    column-gap: 1.5rem;
}

.button {
    /* border:1px solid green; */
    padding: 2px 15px;
    border-radius: 3rem;
    font-size: 1.5rem;
    color: black;
    /* background-color: rgb(84, 56, 198); */
}

.button:hover {
    /* color: white; */
    background-color: rgb(170, 235, 219);
    cursor: pointer;
}

.section_title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    padding: 4px 0;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    margin: 5% 4% 0 0;
}

.profile_text {
    flex: 0.7;
    padding-right: 3rem;
    text-align: end;

}

.profile_text>.title {
    font-size: 4rem;
}

.profile_text>.description {
    font-size: 2rem;
}

.profile_pic {
    flex: 0.3;
    background-image: url('/img/profile.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    aspect-ratio: 1;
}

.experience {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2rem;
    padding: 0.75rem 1rem;
}

.experience>.cards {
    /* width: 25%; */
    background-color: aquamarine;
    padding: 5px 10px;
    min-height: 100%;
    height: 28vh;
    width: 25vw;
    border-radius: 0.25rem;
}

.experience>.cards>.company {
    font-size: 2rem;
}

.experience>.cards>.time_period {
    font-size: 0.75rem;
    color: gray;

}

.experience>.cards>.role {
    font-size: 1.5rem;
}

.experience>.cards>.description {
    font-size: 0.75rem;
}



.skill {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid blue; */
}

.skill>div {
    border: 2px solid green;
    width: 18vw;
    height: 45vh;
    overflow-y: auto;
    text-align: center;
    border-radius: 1rem;
}

.skill .title {
    font-size: 2rem;
    font-weight: 600;
}


.work {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid yellow; */
    flex-wrap: wrap;
    row-gap: 2rem;
}

.project_container {
    width: 24vw;
    height: 25rem;
    background-size: cover;
    overflow: hidden;
    border-radius: 0.25rem;
    background-position: center;
}

.contact_form {
    max-width: 1000px;
    margin: auto;
}

.section-title {
    margin-bottom: 0.25rem;
}

.section-title-contact-me {
    text-align: center;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.wrapper {
    box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
}

.wrapper>* {
    padding: 1em;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
    outline: none;
}

.contact form button {
    background: aquamarine;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.contact form button:hover,
.contact form button:focus {
    background-color: aliceblue;
    outline: 0;
    transition: background-color 0.25s ease-out;
}


footer {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}